*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Segoe UI,Tahoma,Geneva,Verdana,sans-serif;
}

body{
  background:#f8fafc;
}

a{
  text-decoration:none;
}

button{
  cursor:pointer;
  transition:.3s;
}

button:hover{
  transform:translateY(-2px);
}

input{
  font-size:16px;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-thumb{
  background:#2563eb;
  border-radius:10px;
}